main{
    display: flex;
    font-family: 'Lucida Sans';
    width: 480px;
    margin: 0 auto;
    text-align: justify;
}

nav{
    position: relative;
    margin-right: 10px;
}

nav ul{
    width: 6rem;
    list-style-type: none;
}

nav ul li{
    padding: .5rem;
}

nav ul a{
    padding: .5rem;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

nav a.active{
    background-color:rgb(237, 100, 100);
    color: white;
}